/* styles.css */

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-thumb {
  background-color: #aaa;
  border-radius: 5px;
}

body::-webkit-scrollbar-track {
  background-color: #f5f5f5;
  border-radius: 5px;
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
  color: #333;
  min-height: 100vh;
}

header {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1em 0;
}

main {
  flex: 1;
  padding: 20px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #555;
  padding: 1em;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav li {
  float: left;
  margin-right: 20px;
}

nav a {
  display: block;
  color: white;
  padding: 10px 10px;
  text-decoration: none;
  transition: background-color 0.3s;
  border-radius: 10px;
}

nav a:hover {
  background-color: #777;
}

section {
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
  color: #333;
}

p {
  line-height: 1.6;
  color: #555;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1em 0;
  width: 100%;
}

.language-toggle select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background-color: #555555;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 16px;
  color: white;
  cursor: pointer;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M7.41 8.59L12 13.17l4.59-4.58L18 10l-6 6-6-6 1.41-1.41z"/></svg>');
  background-repeat: no-repeat;
  background-position: right center;
}

.language-toggle select:hover {
  background-color: #777;
}

.language-toggle select:focus {
  outline: none;
}

.language-toggle select option {
  color: black;
  border-radius: 10px;
  background-color: #ffffff;
}

.changelog-table {
  width: 100%;
  border-collapse: collapse;
}

.changelog-table th, .changelog-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.collapsible {
  display: flex;
  width: fit-content;
  padding: 10px 10px;
  cursor: pointer;
  align-items: center;
  gap: 10px;
  transition: background-color 0.3s;
  border-radius: 10px;
}

.collapsible:hover {
  background-color: #cacaca;
}

.tip {
  margin-top: 5px;
  padding-left: 10px;
  font-style: italic;
}

#changelogTable {
  display: table;
}

@media screen and (max-width: 768px) {
  nav li {
      float: none;
      margin: 0;
      text-align: center;
  }

  nav ul {
      text-align: center;
  }
}
